.search {
    width: 80%;
    position: relative;
    display: flex;
    padding-left: 20%;
    padding-top: 4%;
}
  
.searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 20px;
    box-shadow: 5px 5px 15px grey;
}

.searchButton {
    width: 70px;
    height: 50px;
    border: 3px solid black;
    background: #ffc107;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
    box-shadow: 5px 5px 15px grey;
    cursor: pointer;
}

.searchSuggest {
    width: 90%;
    height: 40px;
    background-color:black;
    border: 0.5px solid gainsboro;
    color: #ffc107;
    transition: 1s ease;
    text-align: left;
    margin-left: 1%;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.searchContainer {
    position: absolute;
    width: 75%;
    padding-left: 20%;
    z-index: 5;
    list-style-type: none;
}

.search-text {
    overflow: hidden;
}

.search-img-container, .search-text, .search-url {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.search-img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

@media only screen and (max-width: 600px) {
    .search {
        width: 95%;
        padding-left: 5%;
    }

    .searchTerm {
        font-size: 15px;
    }

    .episode-select, .episode-select-label {
        font-size: 15px;
    }

    .searchSuggest {
        font-size: 10px;
        padding: 10px;
    }
 }
 
@media only screen and (max-width: 768px) {
    .searchTerm {
        font-size: 17px;
    }

    .episode-select-label, .episode-select {
        font-size: 17px;
    }

    .searchSuggest {
        font-size: 13px;
        padding: 7px;
    }
}

@media only screen and (max-width: 992px) {
    .search {
        width: 90%;
        padding-left: 10%;
    }

    .searchContainer {
        width: 85%;
        padding-left: 10%;
    }
}